.Frq {
    font-family: "Montserrat", sans-serif;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}
.accordion-button:focus{
    box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
    background-color: var(--main-color) !important;
    color: var(--sec-color) !important;
}
.accordion-item {
    border: none !important;
    border-bottom: 1px #e1cccc solid !important;
}
.accordion-button::after {
    color: var(--sec-color) !important;
}
.accordion .accordion-button:not(.collapsed)::after {
    filter: invert();
}