@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --main-color:#dc3545;
  --sec-color:#fff;
}
body a,h2,h1,h3{
  font-family: "Montserrat", sans-serif !important;
}

code {
  font-family: "Montserrat", sans-serif;

}
.main-btn{
  background-color: var(--main-color) !important;
  color: var(--sec-color) !important;
  text-transform: capitalize;
  border: 2px #dc3545 solid !important;
  cursor: pointer ;  

}
.sec-btn{
  background-color: transparent !important;
  color: var(--main-color) !important;
  text-transform: capitalize;
  border: 2px #fff solid !important;
  transform: all ease .50s;
  cursor: pointer;
}
.main-btn:hover{
  background-color: var(--sec-color) !important;
  color: var(--main-color) !important;
}
.sec-btn:hover{
  background-color: var(--sec-color) !important;
  color: var(--main-color) !important;
}
.main-color{
  color: var(--main-color);
}